<div id="gallery" class="pswp-gallery mb-5">
  {% for image in gallery %}
  <a href="{{image.url}}" 
    data-pswp-width="{{image.width}}" 
    data-pswp-height="{{image.height}}" 
    class="inline-block"
    target="_blank">
    <img loading="lazy" src="{{image.url}}" title="{{image.title}}" alt="{{image.description}}" class="img-fluid" />
  </a>
  {% endfor %}

</div>

<script src="photoswipe/photoswipe.min.js"></script>
<script src="photoswipe/photoswipe-ui-default.min.js"></script>
